
#body-wrap {
		width: 100%;
		height: 100%;
}

#content-wrap {
		
		height: 1021px;
		width: 800px;
		margin: 0 auto;
}

#content-header {
		
		height: 211px;
		width: 100%;
		position: relative;
}

#logo {
		position: absolute;
		left: 0;
		bottom: 10px;
}

#login-sign {
		position: absolute;
		right: 0;
		bottom: 10px;
		
	
}

#sign-up {
		color: #333;
		font-weight: 700;
		font-size: 15px;
		font-family: "AvenirNext-DemiBold-Mint","Helvetica Neue",Helvetica,Arial,sans-serif;
		text-decoration: none;
	
}

#log-in {
		font-family: "AvenirNext-Regular-Mint","Helvetica Neue",Helvetica,Arial,sans-serif;
		text-decoration: none;
		font-size: 15px;
	
}

#content-body {
		height: 810px;
		width: 100%;
		box-shadow: 1px 3px 8px  rgba(0,0,0,.2);
		position: relative;
}

#left-column {
		display: inline-block;
		height: 717px;
		width:  450px;
		padding: 43px 50px 50px;
		
}

#right-column {
		display: inline-block;
		height: 717px;
		width: 210px;
		padding-bottom: 47px;
		padding-top: 47px;
		padding-right: 36px;
		float: right;
}
#borderLeft {
		border-left: 1px solid lightgray;
		position: absolute;
		bottom: 30%;
		top: 50px;
}

#title {
	font-family:"Helvetica Neue", Helvetica, Arial;
	font-size: 30px;
	color: #393636;
	line-height: 1.5;
}
.text-input {
		width: 320px;
		height: 30px;
		border: 1px solid lightgray;
	
}